body {
    background-color: rgb(23, 22, 22);
}

.box1 {
    margin-top: 5rem;
    padding-left: 8rem;
    padding-right: 8rem;
    color: white;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

.name {
    margin-right: 85rem;
}

.nav li {
    padding-top: 2rem;
    padding: 6rem;
}

.nav li a {
    color: white;
    text-decoration: none;

}

.nav li a:hover {
    color: #f1c40f;
}

.nav {
    padding-left: 7rem;
    /* border: 10px solid white; 
    border-radius: 10rem; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0rem;
    list-style: none;
    display: flex;
    font-size: 7.5rem;
    font-weight: 800;
}

.box2 {
    padding-top: 10rem;
    color: beige;
    display: flex;
    width: 100%;
}

.para {
    width: 120rem;
    padding-top: 8rem;
    padding-right: 110rem;
    font-style: italic;
}

.one {
    margin: 5rem;
    padding-left: 25rem;
    font-size: 10rem;
}

.two {
    margin: 5rem;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    display: flex;

}

.line {
    margin-right: 5rem;
    height: 0.5rem;
    width: 35rem;
    background-color: white;
}

.three {
    margin: 5rem;
    padding-left: 15rem;
    margin: 3rem;
    font-size: 10rem;
}

.logo {
    width: 90rem;
    height: 90rem;
} 
@media (max-width: 2560px) { html { font-size: 8px; } ; } 
@media (max-width: 1920px) { html { font-size: 6px; } ; } 
@media (max-width: 1440px) { html { font-size: 4px;} ;  }
@media (max-width: 1024px) { html { font-size: 3px; } ; }
@media (max-width: 768px) { html { font-size: 2.5px; } ; } 
@media (max-width: 430px) { html { font-size: 1.25px; } ; }  
@media (max-width: 320px) { html { font-size: 1px; } ; }
